<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <head>
    <title>Musician</title>
  </head>
  <body>
    <div class="artists-new-wrapper" layout:fragment="contents">
  <div class="container">
    <div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
    <div class="row">
      <main class="col-md-4 mx-auto">
        <h1 class="text-center text-white" th:text="#{artists.new.title}">Sign in</h1>        
        <form method="post" th:action="@{/artist}" th:object="${form}">
          <div layout:replace="~{layouts/common::messages}"></div>
          <div class="mb-3">
            <label class="form-label text-white" for="artist_name" th:text="#{artists.new.name}">Name</label>
            <input type="text" class="form-control" th:field="*{name}" /><p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></p>
          </div>
          <div class="mb-3">
            <label class="form-label text-white" for="artist_email" th:text="#{artists.new.email}">Email</label>
            <input type="text" class="form-control" th:field="*{email}" th:placeholder="#{artists.new.email.placeholder}" /><p th:if="${#fields.hasErrors('email')}" class="error-message" th:errors="*{email}"></p>
          </div>
          <div class="mb-3">
            <label class="form-label text-white" for="artist_password" th:text="#{artists.new.password}">Password</label>            
            <input class="form-control" type="password" th:field="*{password}" th:placeholder="#{artists.new.password.placeholder}" /><p th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}"></p>
          </div>
          <div class="mb-3">
            <label class="form-label text-white" for="artist_password_confirmation" th:text="#{artists.new.password_confirmation}">Password confirmation</label>
            <input type="password" class="form-control" th:field="*{passwordConfirmation}" th:placeholder="#{artists.new.password.placeholder}" /><p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message" th:errors="*{passwordConfirmation}"></p>
          </div>
          <input type="submit" value="登録" class="btn w-100 btn-outline-light" th:value="#{artists.new.submit}"/>
        </form>
      </main>
    </div>
  </div>
</div>
  </body>
</html>